@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_novaregular_italic';
    src: url('../fonts/proximanova-regularitalic-webfont.eot');
    src: url('../fonts/proximanova-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-regularitalic-webfont.woff') format('woff'),
         url('../fonts/proximanova-regularitalic-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regularitalic-webfont.svg#proxima_novaregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_novasemibold';
    src: url('../fonts/proximanova-semibold-webfont.eot');
    src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
html, body{min-height: 100%;height: 100%;}
body{font-family: 'proxima_nova_rgregular';color: #5c5d5d;}
.homepage{background-color: #f9f9f9;}
.searchpage{height: auto;}
.wrapper{height: 100%;position: relative;border-top:4px solid #494949;}
.search-box{position: absolute;left: 0;right: 0;top:50%;text-align: center;margin-top: -217px;}
.homepage form{max-width: 720px;margin: 0 auto;}
.homepage .form-group{margin-bottom: 40px;position: relative;}
.homepage .form-control{padding-right: 50px;}
.icon-chrome{background: url(../img/icon-chrome.png) no-repeat;width: 19px;height: 19px;display: inline-block;vertical-align: middle;}
.icon-search{background: url(../img/icon-search.png) no-repeat;width: 21px;height: 21px;display: inline-block;vertical-align: middle;}
.icon-remove{background: url(../img/icon-remove.png) no-repeat;width: 17px;height: 17px;display: inline-block;vertical-align: middle;}
.icon-arrow-down{background: url(../img/icon-arrow-down.png) no-repeat;width: 12px;height: 6px;display:block;vertical-align: middle;
    margin-left: 10px;float: right;margin-top: -13px;}
.icon-arrow-right{background: url(../img/icon-arrow-right.png) no-repeat;width: 7px;height: 12px;display:block;vertical-align: middle;
    margin-left: 10px;float: right;margin-top: 6px;}
.icon-view{background: url(../img/icon-view.png) no-repeat;width: 16px;height: 10px;display: inline-block;vertical-align: middle;
margin-top: -7px;margin-right: 3px;}

.icon-view-sm, .icon-time{background: url(../img/icon-12.png) no-repeat;width: 16px;height: 12px;display: inline-block;vertical-align: middle;margin-top: -2px;}
.icon-time{background-position: -118px 0;}

.logo{margin-bottom: 40px;display: inline-block;}
.logo-landscape{display: none;}
.btn-search{position: absolute;right: 1px;top:1px;padding: 14px;background-color:transparent;line-height: 22px;}
.btn-remove{position: absolute;right: 48px;top:1px;padding: 14px;background-color:transparent;line-height: 22px;display: none;}

.right-menu{position: absolute;right: 40px;top:25px;}
.btn-togggle {
position: relative;
padding: 9px 10px;
background-color: transparent;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}
.btn-togggle:focus {
outline: 0;
}
.btn-togggle .icon-bar {
display: block;
width: 22px;
height: 2px;
border-radius: 1px;
background-color: #2d88d3;
}
.btn-togggle .icon-bar + .icon-bar {
margin-top: 4px;
}

.dropdown-menu{box-shadow: none;padding-top: 10px;padding-bottom: 10px;border-color: #e4e4e4;min-width: 200px;}
.dropdown-menu > li > a{font-size: 15px;color: #5c5d5d;padding-top:6px;padding-bottom: 6px;}
.dropdown-menu .divider{margin-left: 20px;margin-right: 20px;}
.select-theme{padding: 6px 20px;}
.select-theme-label{color: #c9c9c9;margin-bottom: 8px;}
.dropdown-menu > li.select-theme > a{display: inline-block;padding: 0;background-color: transparent!important;}
.dropdown-menu > li.select-theme > a + a{margin-left: 5px;}
.right-menu .dropdown-menu:before, .right-menu .dropdown-menu:after{border-left:7px solid transparent;border-right:7px solid transparent; border-bottom:7px solid #e4e4e4;
position: absolute;top:-8px;right: 14px;content: ""; }
.right-menu .dropdown-menu:after{border-bottom-color: #fff;top:-7px;}

.searchbar{background-color: #f1f1f1;border-bottom: 1px solid #e4e4e4;min-height: 80px;position: relative;}
.logo-sm{display: block;float: left;margin-bottom: -47px;padding-top: 7px;}
.searchbar form{max-width: 600px;margin:15px 0 15px 105px;}
.searchbar .form-group{position: relative;}
.searchbar .form-group:before, .searchbar .form-group:after{border-top:7px solid transparent;border-bottom:7px solid transparent; border-right:7px solid #e4e4e4;
position: absolute;top:18px;left: -7px;content: "";}
.searchbar .form-group:after{border-right-color: #fff;left:-6px;}
.searchbar .form-control{height: 50px;padding-right: 91px;font-size: 16px;}
.searchbar .btn-search, .searchbar .btn-remove{padding: 12px;}
.searchbar .form-group.focus:before{border-right-color: #2d88d3;}

.search-type{border-bottom: 1px solid #e4e4e4;min-height: 60px;background-color: #fff;}
.search-type .navbar-nav{margin-left: 85px;}
.search-type .navbar-nav > li > a{font-size: 15px;padding: 20px 23px;color: #5c5d5d;position: relative;}
.search-type .navbar-nav > li > a:hover, .search-type .navbar-nav > li > a:focus{background-color:transparent;color: #333;}
.search-type .navbar-nav > li.active > a{color: #2d88d3;font-family: 'proxima_novasemibold';}
.search-type .navbar-nav > li.active > a:before, .search-type .navbar-nav > li.active > a:after{border-left:7px solid transparent;border-right:7px solid transparent; border-bottom:7px solid #e4e4e4;
position: absolute;bottom:0;left: 50%;content: "";margin-left: -7px; }
.search-type .navbar-nav > li.active > a:after{border-bottom-color: #fff;bottom:-1px;}
.search-type-xs{float: left;margin-top: 10px;margin-bottom: 10px;margin-right: 10px;}

.select-custom{display: inline-block;margin-top: 10px;margin-bottom: 10px;}
.select-custom + .select-custom{margin-left: 4px;}
.select-custom label{position: relative;font-weight: normal;border:1px solid #e4e4e4;border-radius: 4px;padding-right: 1px;margin-bottom: 0;}
.select-custom label:before{content:"";
position:absolute;
top:0;
right:0;
background:url("../img/box_sort.png") no-repeat;
display:block;
height:100%;
width:30px;
pointer-events: none;border-radius: 0 4px 4px 0;}
/* 3-4 Dec */
.select-custom select{font-size: 15px;line-height: 22px;padding: 8px 30px 8px 15px;height: 38px;border:0;}
/* End 3-4 Dec */
.filter-source{max-width: 155px;}
.filter-resolution{max-width: 128px;}
.filter-time{max-width: 90px;}
.filter-duration{max-width: 115px;}
.filter-size{max-width: 90px;}
.filter-aspect{max-width: 105px;}


.navbar-right{margin-right: 35px;}
.navbar-right .btn-group{margin-top: 10px;margin-bottom: 10px;}
.btn-group{display: inline-block;position: relative;vertical-align: middle;}
.btn-group .btn{text-align: left;}

.search-result{margin-left: 105px;margin-right: 105px;}
.search-result-wrap{max-width: 564px;}
.search-result-wrap.news{max-width: 700px;}
.search-result-wrap.videos{max-width: 820px;}
.search-stat{font-size: 15px;color: #999da0;margin: 30px 0;}
.result{line-height: 24px;margin-bottom: 30px;}
.result-title{font-size: 19px;color: #2d88d3;font-family: 'proxima_novasemibold';margin-top: 0;}
.result-desc{font-size: 15px;}
.result-url{font-family: 'proxima_novaregular_italic';}
.result-url a{color: #b0b0b0;display: inline-block;vertical-align: middle;}
.loading{margin-bottom: 30px;}
.pagination{margin-top: 0;margin-bottom: 30px;}
.pagination > li{display: inline-block;}
.pagination > li + li{margin-left: 5px;}
.pagination > li > a, .pagination > li > span{color:#5c5d5d;font-size: 16px;border-radius: 4px;min-width: 40px;text-align: center;
    line-height: 24px;padding: 7px 10px;margin-left: 0;border-color: #e4e4e4;}
.pagination > li > a:hover, .pagination > li > span:hover,
.pagination > .active > a, .pagination > .active > span, 
.pagination > .active > a:hover, .pagination > .active > span:hover, 
.pagination > .active > a:focus, .pagination > .active > span:focus{background-color: #fafafa;color: #2d88d3;border-color: #e4e4e4;}

.results-img{margin-left: -10px;margin-right: -10px;position: relative;}
.result-img{width: 25%;margin-bottom: 20px;padding-left: 10px;padding-right: 10px;float: left;}
.result-img a{display: block;position: relative;text-decoration: none!important;}
.result-img a img{max-width: 100%;width: 100%;display: block;}
.result-caption{color: #fff;background-color: rgba(45,136,211,0.8);position: absolute;bottom: 0;left: 0;right: 0;
font-size: 15px;line-height: 22px;padding: 6px 12px;}
.result-caption h3{font-size: 15px;margin: 0;text-transform: uppercase;line-height: 22px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;}
.caption-attr{color: #aedafc;font-family: 'proxima_novaregular_italic';}
.caption-attr span + span{margin-left: 10px;}


/* 3-4 Dec */
.result-video-caption h3{font-size: 17px;min-height: 40px;font-family: 'proxima_novasemibold';margin-top: 10px;margin-bottom: 5px;}
.result-video-caption h3 a{color: #323232;}
.result-video-caption h3 a:hover, .result-video-caption h3 a:focus, 
.result-img:hover .result-video-caption a{color: #2d88d3;}
.video-caption-attr{font-style: italic;}
.icon-view-sm-grey, .icon-time-grey{background: url(../img/icon-12.png) no-repeat;width: 16px;height: 12px;display: inline-block;vertical-align: middle;margin-top: -2px;}
.icon-view-sm-grey{background-position: 0 -12px;}
.icon-time-grey{background-position: -118px -12px;}
.Collage{padding:10px;}
.Image_Wrapper{position: relative;overflow: visible!important;}
.Image_Wrapper > a > img{max-width: 100%;max-height:200px;}
.Image_Wrapper > a{display: block;position: relative;text-decoration: none!important;outline: none!important;}
.Image_Wrapper.active:after{border-left:10px solid transparent;border-right:10px solid transparent; border-bottom:10px solid #2d88d3;
position: absolute;bottom:-10px;left: 50%;content: "";}
.result-caption{opacity: 0;filter:alpha(opacity=0);transition: all 350ms ease-in-out;-webkit-transition: all 35tex0ms ease-in-out;
text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.result-caption a{color: #fff;display: inline-block; }
.img-size{display: inline-block;margin-right: 10px;}
.Image_Wrapper:hover .result-caption{opacity: 1;filter:alpha(opacity=100);}
.collage-wrap{margin-left: -10px;margin-right: -10px;}
select{-moz-appearance: none; -webkit-appearance: none; appearance: none;}
.dropdown-toggle{position: relative;}
.dropdown-toggle .icon-arrow-down{position: absolute;margin: 0;right: 8px;top:50%;margin-top: -3px;}
.colorpicker-element .form-control{border-radius: 4px!important;}
.colorpicker-element .input-group-addon:first-child, 
.colorpicker-element .input-group-addon:last-child{border: 1px solid #e4e4e4!important;}

.icon-user, .icon-user-grey{background: url(../img/icon-12.png) no-repeat;width: 16px;height: 14px;display: inline-block;vertical-align: middle;margin-top: -2px;}
.icon-user{background-position: -46px 0;}
.icon-user-grey{background-position: -64px 0;}
.search-result-video .result-img:hover a img{opacity: 0.8;filter:alpha(opacity=80);}
/* End 3-4 Dec */

.load-more{margin: 20px 0 30px;text-align: center;}
.result-expand{background-color: #2d88d3;padding-top: 70px;padding-bottom: 70px;position: absolute;left: 0;right: 0;top:414px;
padding-left: 120px;padding-right: 120px;line-height: 24px;display: none;}
.result-expand-wrap{max-width: 1290px;margin: 0 auto;}
.result-space{height: 483px;float: left;width: 100%;margin-bottom: 20px;position: relative;display: none;}
.expand-point{border-left:10px solid transparent;border-right:10px solid transparent; border-bottom:10px solid #2d88d3;
position: absolute;top:-10px;left: 10px; }

.result-expand-desc{padding-top: 80px;}
.result-expand .result-title a{color: #fff;}
.result-expand .result-desc, .result-expand .result-url, .result-expand .result-url a{color:#9fd4ff;}
.result-expand-action{margin-top: 30px;}

.news .media-left, .videos .media-left{padding-right:20px;}
.video-img{position: relative;}
.duration{position: absolute;right: 0;bottom: 0;background-color: #2d88d3;color: #fff;font-size: 15px;padding:4px 15px;line-height: 22px;}
.view{color: #b0b0b0;display: inline-block;vertical-align: middle;margin-left: 20px;}

.content-wrap{max-width: 1050px;margin-left: 105px;}
h2.title{font-size: 25px;margin-top: 50px;margin-bottom: 40px;}
.sidebar{width: 240px;float: left;}
.nav.affix{width: 240px;top:20px;}
.sidebar .nav > li > a{font-size: 16px;font-family: 'proxima_novasemibold';border-radius: 4px;color: #9e9e9e;}
.sidebar .nav > li.active > a{background-color: #2d88d3;color: #fff;}

.content{margin-left: 260px;}
.box{border:1px solid #e2e2e2;border-radius: 4px;padding:35px 40px 20px;margin-bottom: 20px;}
.box h3{font-size: 18px;color: #cdcdcd;text-transform: uppercase;letter-spacing: 1px;margin: 0 0 25px;}
.box h4{font-size: 16px;color: #2d88d3;text-transform: uppercase;letter-spacing: 1px;margin: 0 0 25px;}
.table-settings > tbody > tr > td{padding: 10px 0;border-top:0;}
.table-settings > tbody > tr > td:first-child{font-size: 16px;font-family: 'proxima_novasemibold';vertical-align: middle;}
.table-settings > tbody > tr > td:last-child{width: 170px;}

.table-settings > tbody > tr > td:last-child .btn-group, 
.table-settings > tbody > tr > td:last-child button.btn{width: 100%;text-align: left;}

.table-settings > tbody > tr > td:last-child label,
.table-settings > tbody > tr > td:last-child .select-custom{width: 100%;display: block;}

.table-settings > tbody > tr > td:last-child .radio-btn .btn{width: 50%;text-align: center;}
.input-color{position: relative;}
.input-color .form-control{width: 90px;display: inline-block;vertical-align: middle;}
.input-color .form-control.color-picker{width: 65px;margin-left: 5px;background-color: #fff;}

.style1{font-size: 15px;line-height: 24px;}
.style1 p{margin-bottom: 20px;color: #7f7f7f;}
.section-title{font-size: 17px;margin-bottom: 20px;font-family: 'proxima_novasemibold';}

.nav-faqs{margin-bottom: 20px;}
.nav-faqs > li{margin-bottom: 10px;}
.nav-faqs > li > a{background-color: #f1f1f1;border:1px solid #e4e4e4;font-size: 17px;font-family: 'proxima_novasemibold';color: #2d88d3;
line-height: 24px;padding:13px 20px;border-radius: 4px;}

@font-face {
font-family: 'fontello';
src: url('../fonts/fontello.eot?30366360');
src: url('../fonts/fontello.eot?30366360#iefix') format('embedded-opentype'),
url('../fonts/fontello.woff?30366360') format('woff'),
url('../fonts/fontello.ttf?30366360') format('truetype'),
url('../fonts/fontello.svg?30366360#fontello') format('svg');
font-weight: normal;
font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
font-family: "fontello";
font-style: normal;
font-weight: normal;
speak: none;

display: inline-block;
text-decoration: inherit;
width: 1em;
margin-right: .2em;
text-align: center;
font-variant: normal;
text-transform: none;
line-height: 1em;
margin-left: .2em;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before { content: '\e800'; }
.icon-gplus:before { content: '\e801'; }
.icon-twitter:before { content: '\e802'; }
.social, .list-browser{list-style: none;padding: 0;}
.social > li, .list-browser > li{display: inline-block;}
.social > li + li, .list-browser > li + li{margin-left: 5px;}
.social > li > a{display: block;background-color: #2d88d3;width: 40px;font-size: 20px;color: #fff;text-align: center;line-height: 24px;
padding: 8px 5px;border-radius: 4px;}
.social > li > a:hover{background-color: #246da9;}

.addtochrome{max-width: 470px;margin: 80px auto 30px;text-align: center;}
.icon-safari, .icon-firefox, .icon-chrome-black, .icon-ie, .icon-opera{background: url(../img/icon-browser.png) no-repeat;width: 22px;height: 24px;
display: inline-block;vertical-align: middle;}
.icon-safari{background-position: 0 0;}
.icon-firefox{background-position: -33px 0;}
.icon-chrome-black{background-position: -68px 0;}
.icon-ie{background-position: -102px 0;}
.icon-opera{background-position: -138px 0;}
.list-browser{margin-top: -10px;}
.list-browser > li > a{opacity: 0.25;filter:alpha(opacity=25);}
.list-browser > li > a:hover{opacity: 1;filter:alpha(opacity=100);}

.container{max-width: 995px;}
.back{display: inline-block;margin-top: 30px;margin-left: 40px;}
.blog-header{text-align: center;margin-bottom: 50px;}
.blogpage .searchbar{background-color:transparent;border-bottom:0;}
h2.title.mb0{margin:20px 0 10px;}
.blog-sidebar{float: right;width: 320px;padding-left: 30px;padding-right: 30px;}
.blog-sidebar h3{font-size: 18px;margin-top: 0;margin-bottom: 15px;}
.blog-sidebar hr{border-top-style: dotted;border-color: #f1f1f1;}
.blog-sidebar .nav > li > a{padding: 5px 0;background-color: transparent!important;}
.blog-content{border-right:1px solid #f1f1f1;margin-right: 320px;.padding-left: 30px;padding-right: 30px;}
.blog-item{text-align: center;border-bottom: 1px solid #f1f1f1;padding-bottom: 30px;margin-bottom: 30px;}
.blog-image{margin-bottom: 20px;}
.blog-image a{display: block;}
.blog-image a img{max-width: 100%;}
.blog-item h4{margin: 0 0 5px;}
.blog-item h4 a{color:#3d3d3d;font-size: 18px;}

.input-lg{height: 54px;}
.input-md{height: 40px;font-size: 15px;}
.form-control{border-color: #e4e4e4;box-shadow: none!important;}
.btn-150{min-width: 150px;}
.btn-md{font-size: 15px;line-height: 22px;padding: 8px 20px;}
.btn-lg{font-family: 'proxima_novasemibold';padding: 14px 30px;}
.btn-default, .radio-btn .btn{border-color: #e4e4e4;color: #5c5d5d;}
.btn-default:hover, .btn-default:focus, 
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default,
.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, 
.btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, 
.btn-default.focus:active, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus{background-color: #f1f1f1;border-color: #e4e4e4;}
.btn-primary{border-color: #2d88d3;}
.btn-primary:hover, .btn-primary:focus{border-color: #246da9;}
.btn-border{border-color: #2d88d3;color:#2d88d3;background-color: transparent; }
.btn-border:hover, .btn-border:focus{background-color: #fff;color:#2d88d3;}
.btn-border-white{border-color: #fff;color: #fff;}
.btn-border-white:hover, .btn-border-white:focus{background-color: #fff;color: #2d88d3;}
.radio-btn .btn:active, .radio-btn .btn.active{background-color: #2d88d3;color: #fff;border-color: #2d88d3;}

@media (max-width:1199px) {
    .result-img{width: 33.3333%;}
    .result-expand-desc{padding-top: 20px;}
}
@media (max-width:991px) {
    .search-box{margin-top: -227px;}
    .searchbar form{max-width: 560px;}
    .right-menu{right: 10px;}
    .navbar-right{float: left!important;margin-left: 105px;}
    .navbar-right .dropdown-menu{right: auto;left: 0;}
    .search-type .navbar-nav > li.active > a:before, 
    .search-type .navbar-nav > li.active > a:after{display: none;}
    .result-img{width: 50%;}
    .result-expand-desc{padding-top: 30px;}
    .back{margin-left: 10px;}
}
@media (max-width:850px) {
    .sidebar{width: 140px;}
    .nav.affix{width: 140px;}
    .content{margin-left: 160px;}
}
@media (max-width:767px) {
    .logo-sm img{width:47px; }
    .searchbar form{margin-left: 65px;margin-right: 45px;}
    .search-type .btn-md{font-size: 13px;padding: 8px 10px;}
    .navbar-right{float: right;}
    .search-result{margin-left: 0;margin-right: 0;}
    /* 3-4 Dec */
    .navbar-right{margin-left: -5px;margin-right: -5px;width: auto;}
    .content-wrap{margin-left: 0;}
    .result-expand{padding: 20px;}
    .result-expand-action a{display: block;}
    .search-type-xs, .search-type-xs .btn{width: 100%;}
    .search-type-xs .btn{font-size: 15px;padding-left: 15px;padding-right: 15px;}
    .search-type-xs .dropdown-menu{width: 100%;}
    .select-custom{width: 50%;display: block;float: left;max-width: 100%!important;
        padding-left: 5px;padding-right: 5px;margin-top: 0;}
    .select-custom + .select-custom{margin-left: 0;}
    .select-custom label{width: 100%;}
    /* End 3-4 Dec */
}
@media (max-width:640px) {
    .sidebar{float: none;width: 100%;margin-bottom: 20px;}
    .sidebar .nav > li{display: inline-block;}
    .nav.affix{position: relative!important;width: 100%;top: auto;}
    .content{margin-left:0}
    .box{padding: 15px 20px 0;}
    .blog-sidebar{width: 100%;float: none;padding-left: 15px;padding-right: 15px;}
    .blog-content{margin-right: 0;padding-left: 15px;padding-right: 15px;border-right: 0;}
}
@media (max-width:599px) {
    .videos .media-left, .videos .media-body{display: block;width: auto;}
    .videos .media-left{padding-right: 0;margin-bottom: 20px;}
    .videos .media-left img{width: 100%;}
}
@media (max-width:479px) {
    .result-img{width: 100%;}
}
@media (max-width:465px) {
    .search-box{margin-top: -254px;}
    .homepage-btn .btn{display: block;width: 100%;}
}
@media (max-height:470px) {
    .logo-portrait{display: none;}
    .logo-landscape{display: block;}
    .search-box{margin-top: -195px;}
}
@media (max-height:390px) {
    .search-box{margin-top: -145px;}
    .logo, .homepage .form-group{margin-bottom: 20px;}
    .logo img{width: 250px;}
}
